@import url(custom.css);


.body{
  background: var(--primary-200) !important;
}
.qoute-overly{
  position: relative;
width: 100%;
height: 0px;
}
.qoute-overly::before{
  position: absolute;
  content: "";
  height: 100px;
  background: #AEE3FE;
filter: blur(35px);
top: 100px;
}

.pannel-bg{
    height: 2743px;
}

.panels-wrapper{
  display: flex;
  flex-direction: column;
  gap: var(--gap-heading-content);
}
.headings{
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
}
.headings h3{
    margin: 0px;
    color: var(--text-white);
    /* 1440/Title/H3 */
    font-family: var(--font-family-secondry-54);
    font-size: var(--Sizes-h3, 50px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--Line-Height-h3, 55px); /* 110% */
}
.headings p{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}
.headings p span{
    color: var(--text-white);
    font-family: var(--font-family-primary);
    font-size: 18px;
    font-style: normal;
    font-weight: var(--Weights-medium, 500);
    line-height: normal;
}
.pannels-main-wrapper{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.iframe iframe{
    width: 740px;
    border-radius: 20px;
}
.panels-right-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.pannels-card{
    display: flex;
    padding: 20px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    border-radius: 20px;
    background: var(--Text-white, #FFF);
    width: 432px;
    /* Main Card */
    box-shadow: 0px 14px 74px 0px rgba(0, 0, 0, 0.10);
}
.pannels-card h4{
    margin: 0px;
    color: var(--Text-Black, #000);
    font-family: var(--font-family-secondry-52);
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: var(--Line-Height-h3, 55px); /* 125% */
}
.pannels-card h4 span{
    font-size: 34px;
    font-style: normal;
    font-weight: 300;
}
.pannels-card h5{
    margin: 0px;
    color: #000;
    font-family: var(--font-family-primary);
    font-size: 20px;
    font-style: normal;
    font-weight: var(--Weights-bold, 600);
    line-height: var(--Line-Height-md, 28px); /* 140% */
}
.pannels-card h5 span{
    font-size: 25px;
}
.pannels-card p{
    margin: 0px;
    color: var(--gray-900);

    /* 1440/Regullar/rg */
    font-family: var(--font-family-primary);
    font-size: var(--Sizes-rg, 16px);
    font-style: normal;
    font-weight: var(--Weights-medium, 500);
    line-height: 24px; /* 150% */
}
.offset, .bill, .number-pannels, .solar-pannel, .solar-inverter,.purchase{
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
}
.offset-amount{
    display: flex;
    flex-direction: row;
    gap: 6px;
}
.offset-amount span{
    display: flex;
    padding: 1px 14px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 100px;
    border: 1px solid var(--Border, #DFDFDF);
    background: var(--White, #FFF);
    color: var(--Heading, #000);
    text-align: center;
    font-family: var(--font-family-primary);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 222.222% */
}
.offset-amount .active{
    color: var(--text-white);
    border-radius: 100px;
    background: var(--Text-Primary, #2EA6E3);
}
.bill-input input{
    width: 382px;
    min-height: 60px;
    padding: 0px 20px;
    border-radius: var(--1440px-sm, 10px);
    border: 1px solid var(--Borders-gray-2, #E7E7E7);
    background: var(--Text-white, #FFF);
    color: var(--Text-Black, #000);
    font-family: var(--font-family-primary);
    font-size: 18px;
    font-style: normal;
    font-weight: var(--Weights-medium, 500);
    line-height: 24px; /* 133.333% */
    outline: none;
}
.bill-input input::placeholder{
    color: var(--Text-Black, #000);
    font-family: var(--font-family-primary);
    font-size: 18px;
    font-style: normal;
    font-weight: var(--Weights-medium, 500);
    line-height: 24px; /* 133.333% */
}
.quantity-container {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ddd;
      border-radius: 8px;
      width: 382px;
      height: 60px;
      padding: 10px 0;
      font-family: sans-serif;
      user-select: none;
    }

    .quantity-button {
      flex: 1;
      text-align: center;
      cursor: pointer;
      font-size: 20px;
      color: #000;
    }

    .quantity-value {
      flex: 1;
      text-align: center;
      font-size: 16px;
    }

    .quantity-button:hover {
      color: #007BFF;
    }
.panels-dropdown,
    .inverter-dropdown {
      position: relative;
      width: 382px;
      height: 60px;
      border: 1px solid #ddd;
      border-radius: 12px;
      padding: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
    }

    .panels-dropdown .selected,
    .inverter-dropdown .selected {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    #selectedInverter,
    #selectedText{
        color: var(--Text-Black, #000);

/* 1440/Regullar/rg */
font-family: var(--font-family-primary);
font-size: var(--Sizes-rg, 16px);
font-style: normal;
font-weight: var(--Weights-medium, 500);
line-height: 24px; /* 150% */
    }

    .badge {
      background-color: #8dfdab;
      color: green;
      padding: 4px 10px;
      border-radius: 999px;
      font-size: 12px;
    }

    .arrow {
      border: solid #333;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 4px;
      transform: rotate(45deg);
      margin-left: auto;
      transition: transform 0.3s ease;
    }

    .panels-dropdown.open .arrow,
    .inverter-dropdown.open .arrow {
      transform: rotate(-135deg);
    }

    .panels-dropdown-options,
    .inverter-dropdown-options {
      position: absolute;
      top: 110%;
      left: 0;
      width: 100%;
      background: white;
      border-top: none;
      border-radius: 0 0 12px 12px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease;
      z-index: 1;
    }

    .panels-dropdown.open .panels-dropdown-options,
    .inverter-dropdown.open .inverter-dropdown-options {
      max-height: 200px;
    }

    .panels-dropdown-options div,
    .inverter-dropdown-options div  {
      padding: 10px 12px;
      cursor: pointer;
      color: var(--Text-Black, #000);

/* 1440/Regullar/rg */
font-family: var(--font-family-primary);
font-size: var(--Sizes-rg, 16px);
font-style: normal;
font-weight: var(--Weights-medium, 500);
line-height: 24px; /* 150% */
    }

    .panels-dropdown-options div:hover,
    .inverter-dropdown-options div:hover {
      background-color: #f0f0f0;
    }

     .payment-options {
      display: flex;
      flex-direction: column;
    }

    .option {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 382px;
      
      padding: 16px 14px;
      border: 2px solid transparent;
      cursor: pointer;
      transition: 0.3s ease;
      background-color: white;
    }

    .option.selected {
      border-radius: 16px;
    background: var(--Bg-body, #AEE4FF);    
    }

    .label-wrapper {
      display: flex;
      align-items: center;
      gap: 12px;
      color: var(--Text-Black, #000);

    /* 1440/Regullar/md */
    font-family: var(--font-family-primary);
    font-size: var(--Sizes-md, 18px);
    font-style: normal;
    font-weight: var(--Weights-bold, 600);
    line-height: var(--Line-Height-md, 28px); /* 155.556% */
    }

    .checkmark {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 2px solid #aaa;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      color: white;
      background-color: white;
      transition: 0.3s ease;
    }

    .option.selected .checkmark {
      background-color: #007BFF;
      border-color: #007BFF;
      position: relative;
    }

    .option.selected .checkmark::after {
      position: absolute;
      right: -6px;
  content: '';
  display: inline-block;
  width: 16px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.73 12a1 1 0 0 1-.85-.37L.35 6.89a1 1 0 0 1 1.4-1.77L5.73 8.97 13.95.36a1 1 0 1 1 1.4 1.78L6.58 11.63a1 1 0 0 1-.85.37z' fill='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 8px;
  vertical-align: middle;
}

    

    .price {
      color: var(--Text-Black, #000);

/* 1440/Regullar/md */
font-family: var(--font-family-primary);
font-size: var(--Sizes-md, 18px);
font-style: normal;
font-weight: var(--Weights-bold, 600);
line-height: var(--Line-Height-md, 28px); /* 155.556% */
    }
.buttons-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:var(--gap-xs);
}
    .call-btn button{
        display: flex;
        height: 75px;
padding: 7px 20px;
width: 100%;
flex-direction: row;
align-items: center;
gap: 10px;
border-radius: 999px;
background: var(--Bg-bg---footer, #0D2D44);
border: none;
    }
    .call-btn button:hover{
        background: #081621;
    }
    .call-btn button span{
        color: #FFF;
text-align: center;
font-family: var(--font-family-primary);
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
    }
.equip-main-wrapper{
  display: flex;
  flex-direction: column;
  gap: var(--gap-heading-content);
  margin-top: -850px;
}
.equipments{
  padding-top:0px ;
  ;
}
.eqip-wrapper{
display: flex;
flex-direction: column;
gap: 20px;
}
.equip-card{
  display: flex;
padding: 30px;
flex-direction: column;
align-items: flex-start;
gap: 40px;
align-self: stretch;
border-radius: var(--1440px-md, 20px);
background: var(--Borders-white, #FFF);
backdrop-filter: blur(137px);
width: 740px;
}
.equip-card-upper{
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
  width: 100%;
}
.equip-card-upper h4{
  color: var(--Text-Black, #000);
margin: 0px;
/* 1440/Title/H5 */
font-family: var(--font-family-primary);
font-size: var(--Sizes-h5, 25px);
font-style: normal;
font-weight: 600;
line-height: var(--Line-Height-h4, 40px); /* 160% */
}
.equip-card-upper p{
  margin: 0px;
  color: var(--Text-disabled, #888);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: var(--Weights-medium, 500);
line-height: 24px; /* 133.333% */
}
.toggle-wraper{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.equip-card-btn{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  width: 100%;
}
.equip-card-btn a{
 display: flex;
padding: 15px 30px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 100px;
border: 1px solid var(--Bg-bg---footer, #0D2D44);
background: var(--Bg-bg---footer, #0D2D44);
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.07);
text-decoration: none;
}
.equip-card-btn a span{
  color: var(--text-white);
text-align: center;
font-family: var(--font-family-primary);
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.dropdown {
      position: relative;
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 14px 16px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
.dropdown-selected, .item-drop{
  color: var(--Text-Black, #000);

/* 1440/Regullar/rg */
font-family: var(--font-family-primary);
font-size: var(--Sizes-rg, 16px);
font-style: normal;
font-weight: var(--Weights-medium, 500);
line-height: 24px; /* 150% */
}
    .dropdown.active {
      border-color: none;
    }

    .dropdown-label {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .badge {
      background: #d4f5e4;
      color: #28a745;
      padding: 3px 10px;
      font-size: 12px;
      border-radius: 999px;
      font-weight: 600;
    }


    .dropdown-arrow {
      font-size: 16px;
      transition: transform 0.3s;
    }

    .dropdown.active .dropdown-arrow {
      transform: rotate(180deg);
    }

    .dropdown-list {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      margin-top: 4px;
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.05);
      display: none;
      z-index: 10;
      padding: 15px;
    }

    .dropdown.active .dropdown-list {
      display: block;
    }

    .dropdown-item {
      padding: 10px 12px !important;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    }

    .dropdown-item:hover {
      background-color: #f0f0f0 !important;
      border-radius: 10px !important;
    }

    .warranty{
      display: flex;
      flex-direction: column;
      gap: var(--gap-md);
      width: 100%;
    }
    .warranty h3{
      color: var(--Text-Black, #000);

/* 1440/Title/H4 */
font-family: var(--font-family-primary);
font-size: var(--Sizes-h4, 35px);
font-style: normal;
font-weight: var(--Weights-bold, 600);
line-height: var(--Line-Height-h4, 40px); /* 114.286% */
    }
    .wranty-images-wrapper{
      display: flex;
      flex-direction: row;
      gap: 30px;
    }
    .wranty-images{
      display: flex;
      flex-direction: row;
      gap: 30px;
    }
    .wranty-images img{
      width: 146.967px;
height: 190.153px;
object-fit: cover;
    }
    .sumary-products{
      display: flex;
padding-bottom: 20px;
flex-direction: column;
align-items: flex-start;
gap: 21px;
align-self: stretch;
border-bottom: 1px dashed var(--Borders-gray-2, #E7E7E7);
    }
    .products{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--gap-md);
    }
    .products h6{
      color: var(--Text-Black, #000);
margin: 0px;
/* 1440/Title/H5 */
font-family: var(--font-family-primary);
font-size: var(--Sizes-h5, 25px);
font-style: normal;
font-weight: 600;
line-height: var(--Line-Height-h4, 40px); /* 160% */
    }
    .products p{
margin: 0px;
color: var(--gray-900);

/* 1440/Regullar/rg */
font-family: var(--font-family-primary);
font-size: var(--Sizes-rg, 16px);
font-style: normal;
font-weight: var(--Weights-medium, 500);
line-height: 24px; /* 150% */
    }
    .new-bill{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    .new-bill h6{
     color: var(--Text-Black, #000);
margin: 0px;
/* 1440/Title/H5 */
font-family: var(--font-family-primary);
font-size: var(--Sizes-h5, 25px);
font-style: normal;
font-weight: 600;
line-height: var(--Line-Height-h4, 40px); /* 160% */ 
    }
    .new-bill p{
      color: var(--Text-Black, #000);

/* 1440/Title/H5 */
font-family: var(--font-family-primary);
font-size: var(--Sizes-h5, 25px);
font-style: normal;
font-weight: 600;
line-height: var(--Line-Height-h4, 40px);
    }
    .new-bill p span{
      color: #888;
      text-decoration: line-through;
      margin-right: 10px;
    }



    .slider-wrapper {
      max-width: 100%;
      margin-bottom: 40px;
    }

    .image-slider-container {
      overflow: hidden;
      position: relative;
    }

    .slider-track {
      display: flex;
      flex-direction: row;
      gap: 15px;
      transition: transform 0.3s ease-in-out;
    }

    .slider-item {
      flex: 0 0 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .slider-item img {
      max-width: 100%;
      height: auto;
    }

    .slider-dots {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-top: 20px;
    }

    .slider-dot {
      display: inline-block;
      width: 5px;
      height: 8px;
      margin: 0 5px;
      border-radius: 40px;
      background: var(--Text-disabled, #888);
      cursor: pointer;
    }

    .slider-dot.active {
      width: 5px;
      height: 16px;
      border-radius: 40px;
      background: var(--Text-Black, #000);
    }

    /* Desktop: show all 3 images */
    @media screen and (min-width: 769px) {
      .slider-track {
        transform: none !important;
      }

      .slider-item {
        flex: 0 0 33.3333%;
      }

      .slider-dots {
        display: none;
      }
    }

    @media (max-width: 1025px){
      .pannels-main-wrapper{
        flex-direction: column;
      }
      .pannels-card{
        width: 100%;
      }
      .equip-main-wrapper{
        margin-top: 0px;
      }
      .iframe iframe{
        width: 100%;
      }
      .equip-card{
        width: 100%;
      }
    }
    @media (max-width: 769px){
      .wranty-images-wrapper{
        gap: 0px;
      }
      .wranty-images{
        gap: 0px;
      }
    }
    @media (max-width: 600px){
      .wranty-images-wrapper{
        gap: 30px;
        flex-direction: column;
      }
      .wranty-images{
        gap: 30px;
      }
      .new-bill{
        flex-direction: column;
        align-items: start;
        gap: 20px;
      }
      .option{
        width: 100%;
      }
      .bill{
        width: 100%;
      }
      .number-pannels{
        width: 100%;
      }
      .solar-inverter, .solar-pannel, .payment-options, .purchase{
        width: 100%;
      }
    }

    @media (max-width: 480px){
      .offset-amount span{
        padding: 1px 8px;
      }
    
      .bill-input input{
        width: 100%;
      }
      .quantity-container{
        width: 100%;
      }
      .panels-dropdown, .inverter-dropdown{
        width: 100%;
      }
      .products h6{
        font-size: 20px;
        line-height: 20px;
      }
    }